* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.container {
  width: 100%
  max-width:1200px;
  margin: 0px auto;
}

.link {
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo {
  float: right;
}

header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}

.menu {
  padding: 14px 70px;
  overflow: auto;
}

#home {
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center; /*posicionaimagen al centro*/
  background-repeat: no-repeat; /*No repite imagen de fondo*/
  background-size: cover; /*Cubre todo el tamaño del contenedor*/
  height: 554px; /*Altura de nuestro home*/
  text-align: center; /*Alineación al centro*/
  margin-top: 80px; /*Darle un margen en la parte de arriba*/
}

#home .container {
  color: white;
  padding: 30px; /*Relleo de 70px de todos los lados*/
}

.text-home {
  font-size: 53px;
}

.btn-home {
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px; /*Redondea el borde 1px*/
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

#services {
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 30px 7px;
}

.box-services {
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}

.text-services {
  font-size: 35px;
  letter-spacing: 2px;
}

#work {
  background-position: center; /*posicionaimagen al centro*/
  background-repeat: no-repeat; /*No repite imagen de fondo*/
  background-size: cover; /*Cubre todo el tamaño del contenedor*/
  height: 554px; /*Altura de nuestro home*/
  text-align: center; /*Alineación al centro*/
}

#work .container {
  color: black;
  padding: 30px;
}

h4 {
padding-left: 10px;
padding-right: 10px;
}

.text-work {
  font-size: 35px;
  text-align: center;
}

.work-img {
  width: 100%;
}

footer {
  text-align: center;
  height: 70px;
  background: #373B47;
  color: white;
  padding-top: 7px;
  margin-right: 0;
}
